{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}

{% block title %}Portfolio{% endblock title %}
{% block aside %}
              
{% for menu in menu_bar %}      
<div class="aside">
    <div class="logo">
        <a href="{% url 'home' %}"><span>{{ menu.a  }}</span>{{ menu.title }}</a>
    </div>
    <div class="nav-toggler">
        <span></span>
    </div>
    <ul class="nav">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ menu.home }}</a></li>
        <li><a href="{% url 'about' %}"><i class="fa fa-user"></i>{{ menu.about }}</a></li>
        <li><a href="{% url 'services' %}"><i class="fa fa-list"></i>{{ menu.services }}</a></li>
        <li><a href="{% url 'portfolio' %}" class="active"><i class="fa fa-briefcase"></i>{{ menu.portfolio }}</a></li>
        <li><a href="{% url 'contact' %}"><i class="fa fa-comments"></i>{{ menu.contact }}</a></li>
    </ul>
</div>

{% endfor %}

{% endblock aside %}


{% block content %}
    <!-- ======== Portfolio Section Start ========= -->
    <section class="portfolio section" id="portfolio">
        <div class="container">
            <div class="row">
                {% for p in portfel %}
                <div class="section-title padd-15">
                    <h2>{{ p.title }}</h2>
                </div>
                {% endfor %}
            </div>
            
            <div class="row">
                
                {% for category in portfolio_categories %}                    
                    <!-- ======= portfolio item start ======= -->
                    <a href="{{ category.get_url }}" class="portfolio-item padd-15">
                        <div class="portfolio-item-inner sha dow-dark">
                            <div class="portfolio-img">
                                <img src="{{ category.image.url }}" alt="">
                            </div>
                        </div>
                        <h1>{{ category.title }}</h1>
                        <p>{{ category.description }}</p>
                        <h1></h1>
                    </a>
                    <!-- ======= portfolio item End ======= -->
                    
                {% endfor %}
                <!-- ======= portfolio item End ======= -->
            </div>
        </div>
    </section>
    <!-- ======== Portfolio Section End ========= -->
{% endblock content %}
    