<!DOCTYPE html>
{% load hitcount_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio_Detail</title>
    <!-- ======= CSS FILES =====  -->
    <link rel="stylesheet" href="{% static 'home/css/portfolio_code.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/skins/color-4.css' %}">

    <!-- ======= CDN JS ======= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- ===== Style Switcher ========= -->
    <link rel="stylesheet" href="{% static 'home/css/skins/color-1.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'home/css/skins/color-2.css' %}" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="{% static 'home/css/skins/color-3.css' %}" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="{% static 'home/css/skins/color-4.css' %}" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="{% static 'home/css/skins/color-5.css' %}" class="alternate-style" title="color-5" disabled>
    <link rel="stylesheet" href="{% static 'home/css/style-switcher.css' %}">
</head>
<body>

    <div class="portfolio-code">
        <div class="container1">
            <div class="line">
                <div class="site-title">
                    <h1>Rest_Framework</h1>
                </div>
                <div class="site-image">
                    <img src="{{ portfolio.image.url }}" alt="">
                </div>
                <div class="site-body site-body1">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sequi, quod placeat voluptatum dolore quidem ipsum fugiat animi atque 
                        officia repudiandae fugit odio numquam porro rerum sunt id et consectetur 
                        neque! Repellat numquam totam obcaecati esse illum alias fugiat nesciunt error?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil laudantium eius 
                        recusandae vel repellendus quasi accusamus eaque, ducimus aliquam unde doloremque consequatur! 
                        Reprehenderit perspiciatis quam debitis, tempora nobis neque incidunt exercitationem rerum laboriosam 
                        deserunt quisquam voluptates dicta nam at similique cumque alias inventore, cum deleniti fugiat. Quaerat 
                        ratione sequi cumque quia, recusandae at quisquam obcaecati earum quam. Reiciendis, odio minus. 
                        Sequi excepturi corporis error itaque esse. Quisquam possimus, ipsa sit quasi reprehenderit dolore. 
                        Unde error necessitatibus iusto delectus expedita, odio cumque fugiat aliquid placeat ipsam exercitationem 
                        voluptatum. Magnam deserunt unde ab reiciendis molestias omnis labore perspiciatis ipsam sint voluptatem?
                    </p>
                </div>
                <div class="site-image">
                    <img src="{% static 'home/images/portfolio/portfolio-2.jpg' %}" alt="">
                </div>
                <div class="site-body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sequi, quod placeat voluptatum dolore quidem ipsum fugiat animi atque 
                        officia repudiandae fugit odio numquam porro rerum sunt id et consectetur 
                        neque! Repellat numquam totam obcaecati esse illum alias fugiat nesciunt error?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil laudantium eius 
                        recusandae vel repellendus quasi accusamus eaque, ducimus aliquam unde doloremque consequatur! 
                        Reprehenderit perspiciatis quam debitis, tempora nobis neque incidunt exercitationem rerum laboriosam 
                        deserunt quisquam voluptates dicta nam at similique cumque alias inventore, cum deleniti fugiat. Quaerat 
                        ratione sequi cumque quia, recusandae at quisquam obcaecati earum quam. Reiciendis, odio minus. 
                        Sequi excepturi corporis error itaque esse. Quisquam possimus, ipsa sit quasi reprehenderit dolore. 
                        Unde error necessitatibus iusto delectus expedita, odio cumque fugiat aliquid placeat ipsam exercitationem 
                        voluptatum. Magnam deserunt unde ab reiciendis molestias omnis labore perspiciatis ipsam sint voluptatem?
                    </p>
                </div>
               

                <div class="site-image">
                    <img src="{% static 'home/images/portfolio/portfolio-2.jpg' %}" alt="">
                </div>
                <div class="site-body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sequi, quod placeat voluptatum dolore quidem ipsum fugiat animi atque 
                        officia repudiandae fugit odio numquam porro rerum sunt id et consectetur 
                        neque! Repellat numquam totam obcaecati esse illum alias fugiat nesciunt error?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil laudantium eius 
                        recusandae vel repellendus quasi accusamus eaque, ducimus aliquam unde doloremque consequatur! 
                        Reprehenderit perspiciatis quam debitis, tempora nobis neque incidunt exercitationem rerum laboriosam 
                        deserunt quisquam voluptates dicta nam at similique cumque alias inventore, cum deleniti fugiat. Quaerat 
                        ratione sequi cumque quia, recusandae at quisquam obcaecati earum quam. Reiciendis, odio minus. 
                        Sequi excepturi corporis error itaque esse. Quisquam possimus, ipsa sit quasi reprehenderit dolore. 
                        Unde error necessitatibus iusto delectus expedita, odio cumque fugiat aliquid placeat ipsam exercitationem 
                        voluptatum. Magnam deserunt unde ab reiciendis molestias omnis labore perspiciatis ipsam sint voluptatem?
                    </p>
                </div>
                

                <div class="site-image">
                    <img src="{% static 'home/images/portfolio/portfolio-2.jpg' %}" alt="">
                </div>
                <div class="site-body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sequi, quod placeat voluptatum dolore quidem ipsum fugiat animi atque 
                        officia repudiandae fugit odio numquam porro rerum sunt id et consectetur 
                        neque! Repellat numquam totam obcaecati esse illum alias fugiat nesciunt error?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil laudantium eius 
                        recusandae vel repellendus quasi accusamus eaque, ducimus aliquam unde doloremque consequatur! 
                        Reprehenderit perspiciatis quam debitis, tempora nobis neque incidunt exercitationem rerum laboriosam 
                        deserunt quisquam voluptates dicta nam at similique cumque alias inventore, cum deleniti fugiat. Quaerat 
                        ratione sequi cumque quia, recusandae at quisquam obcaecati earum quam. Reiciendis, odio minus. 
                        Sequi excepturi corporis error itaque esse. Quisquam possimus, ipsa sit quasi reprehenderit dolore. 
                        Unde error necessitatibus iusto delectus expedita, odio cumque fugiat aliquid placeat ipsam exercitationem 
                        voluptatum. Magnam deserunt unde ab reiciendis molestias omnis labore perspiciatis ipsam sint voluptatem?
                    </p>
                </div>
                <hr>
                <button type="submit" class="btn">Download Code</button>
                <button type="submit" class="btn">View site</button>
            </div>
        </div>
    </div>








    <!-- ==========Style Switcher Start ========= -->
    
    <div class="style-switcher">
        <div class="style-switcher-toggle s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        
        <div class="day-night s-icon">
            <i class="fas "></i>
        </div>
        <h4>Theme Language And Colors</h4>
        <form action="" method="post">
            {% csrf_token %}
            <input name="next" class="translation" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                    <option value="translation">
                        <p>Uzbek(UZ)</p>
                        <p>English(EN)</p>
                    </option>
            </select>
            <input type="submit" value="Go">
        </form>
        <hr>
        <div class="colors">
            <span class="colors-1" onclick="setActiveStyle('color-1')"></span>
            <span class="colors-2" onclick="setActiveStyle('color-2')"></span>
            <span class="colors-3" onclick="setActiveStyle('color-3')"></span>
            <span class="colors-4" onclick="setActiveStyle('color-4')"></span>
            <span class="colors-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>
    <!-- ==========Style Switcher End ========= -->

    <!-- ========== JS FILES ====== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="{% static 'home/js/script.js' %}"></script>
    <script src="{% static 'home/js/style-switcher.js' %}"></script>
</body>
</html>

